<div class="page-header">
  <h2 class="clearfix" style="margin-bottom: 0">
    <span ng-hide="task.id">Add new task</span>
    <div ng-show="task.id">
      {{ task.name }}
      <div class="btn-group">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="text-muted fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-href="{{ path('ProjectTaskEditCtrl', { projectId: project.id, taskId: task.id }) }}" ng-show="task._updateable">Edit</a></li>
          <li><a href="#" ng-show="task._deleteable" ng-really-click="deleteTask()">Delete</a></li>
        </ul>
      </div>
      <small ng-bind="task.statusText"></small>
      <div ng-controller="TimelogToggleCtrl" class="pull-right">
        <button href="#" class="btn btn-success" loading-button type="button" data-loading-text="Loading..." ng-show="myAssignment._startable" ng-loading-click="startTimelog(myAssignment)">Start task</button>
        <button href="#" class="btn btn-danger"  loading-button type="button" data-loading-text="Loading..." ng-show="myAssignment._stoppable" ng-loading-click="stopTimelog(myAssignment)" >Stop task</button>
      </div>
    </div>
  </h2>
  <div class="text-muted" ng-show="task.id">
    <small>Created at {{ task.createdAt | amDateFormat: 'MMM D, YYYY H:mm' }}</small>
    <small ng-show="task.endedAt && task.status == 2">| Completed at {{ task.endedAt | amDateFormat: 'MMM D, YYYY H:mm' }}</small>
  </div>
</div>
