<div ng-controller="TimelogCtrl" class="timelogs">
  <div ng-repeat="assignment in assignments">
    <h4 class="clearfix">
      {{ assignment.user.fullName }}
      <div class="pull-right">
        <span class="btn" style="padding-right: 0">{{ assignment.totalTime }}<span ng-show="assignment.running">+</span></span>
        <a class="btn" href="#" ng-show="assignment._destroyableAllTimelogs" ng-really-message="Are you sure to delete all timelogs?" ng-really-click="deleteAllTimelogs(assignment)" title="Delete all timelogs"><i class="text-muted fa fa-times"></i></a>
      </div>
    </h4>
    <div class="panel panel-timelog" ng-class="{ 'panel-running': timelog.endedAt == null }" ng-repeat="timelog in assignment.timelogs | orderBy: '-id'">
      <div class="panel-heading">
        <span class="btn-xs" title="{{ timelog.startedAt | amDateFormat: 'dddd, MMMM Do YYYY, H:mm:ss' }}">{{ timelog.startedAt | amDateFormat: 'MMM D, YYYY H:mm' }}</span>
        <i class="btn-xs fa fa-long-arrow-right"></i>
        <span class="btn-xs" title="{{ timelog.endedAt | amDateFormat: 'dddd, MMMM Do YYYY, H:mm:ss' }}" ng-show="timelog.endedAt">{{ timelog.endedAt | amDateFormat: 'MMM D, YYYY H:mm' }}</span>
        <em class="btn-xs" ng-hide="timelog.endedAt">Running</em>
        <div class="pull-right">
          <strong class="btn-xs">{{ timelog.totalTime }}</strong>
          <div class="btn-group">
            <a href="#" class="btn-xs dropdown-toggle" data-toggle="dropdown">
              <i class="text-muted fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-hide="timelog.editting == true"><a href="#" ng-click="timelog.editting = true">Edit</a></li>
              <li><a href="#" ng-really-click="deleteTimelog(timelog)">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body" ng-show="timelog.editting">
        <div class="form">
          <div class="form-group">
            <label>From</label>
            <div class="dropdown">
              <div class="dropdown-toggle" id="startedAt-{{ timelog.id }}" data-toggle="dropdown">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{ timelog.startedAt | amDateFormat: 'MMM D, YYYY H:mm' }}">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <ul class="dropdown-menu">
                <datetimepicker data-ng-model="timelog.startedAt" data-datetimepicker-config="{ dropdownSelector: '#startedAt-{{ timelog.id }}' }"/>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label>To</label>
            <div class="dropdown">
              <div class="dropdown-toggle" id="endedAt-{{ timelog.id }}" data-toggle="dropdown">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{ timelog.endedAt | amDateFormat: 'MMM D, YYYY H:mm' }}">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <ul class="dropdown-menu">
                <datetimepicker data-ng-model="timelog.endedAt" data-datetimepicker-config="{ dropdownSelector: '#endedAt-{{ timelog.id }}' }"/>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <button ng-click="saveTimelog(timelog)" type="submit" class="btn btn-success">Save</button>
            <a ng-click="refreshPage()" class="btn btn-default">Close without saving</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-timelog " ng-hide="assignment.timelogs.length">
      <div class="panel-heading text-center">
        <em class="btn-xs">No time logging yet</em>
      </div>
    </div>
  </div>
</div>
