<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Projects</li>
  <li class="active">{{ project.name }}</li>
  <li><a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}">Tasks</a></li>
  <li class="active" ng-hide="task.id">New</li>
  <li class="active" ng-show="task.id">{{ task.name }}</li>
</ol>

<div class="page-header">
  <h2 class="clearfix">
    Time logs
    <a href="#" class="pull-right btn btn-success" ng-show="my_assignment._startable" ng-click="startTimelog(my_assignment)">Start task</a>
    <a href="#" class="pull-right btn btn-danger" ng-show="my_assignment._stoppable" ng-click="stopTimelog(my_assignment)">Stop task</a>
  </h2>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3" ng-repeat="assignment in assignments">
    <h3 class="timelog clearfix">
      {{ assignment.user.fullName }}
      <div class="pull-right">
        <span class="btn">{{ assignment.totalTime }}<span ng-show="assignment.running">+</span></span>
      </div>
    </h3>
    <div class="panel" ng-class="{ 'panel-success': timelog.endedAt != null, 'panel-warning': timelog.endedAt == null }" ng-repeat="timelog in assignment.timelogs | orderBy: 'id'">
      <div class="panel-heading">
        <span title="{{ timelog.startedAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm:ss a' }}">{{ timelog.startedAt | amCalendar }}</span>
        <i class="fa fa-long-arrow-right"></i>
        <span title="{{ timelog.endedAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm:ss a' }}" ng-show="timelog.endedAt">{{ timelog.endedAt | amCalendar }}</span>
        <em ng-hide="timelog.endedAt">Running</em>
        <div class="pull-right">
          <strong class="btn-xs">{{ timelog.totalTime }}</strong>
          <a href="#" ng-click="timelog.editting = !timelog.editting" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
          <a href="#" ng-really-click="deleteTimelog(timelog)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
      <div class="panel-body" ng-show="timelog.editting">
        <div class="form">
          <div class="form-group">
            <label>From</label>
            <div class="dropdown">
              <div class="dropdown-toggle" id="startedAt-{{ timelog.id }}" data-toggle="dropdown">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{ timelog.startedAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm:ss a' }}">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <ul class="dropdown-menu">
                <datetimepicker data-ng-model="timelog.startedAt" data-datetimepicker-config="{ dropdownSelector: '#startedAt-{{ timelog.id }}' }"/>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label>To</label>
            <div class="dropdown">
              <div class="dropdown-toggle" id="endedAt-{{ timelog.id }}" data-toggle="dropdown">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{ timelog.endedAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm:ss a' }}">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <ul class="dropdown-menu">
                <datetimepicker data-ng-model="timelog.endedAt" data-datetimepicker-config="{ dropdownSelector: '#endedAt-{{ timelog.id }}' }"/>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <button ng-click="saveTimelog(timelog)" type="submit" class="btn btn-success">Save</button>
            <a ng-click="resetTimelog(timelog)" class="btn btn-default">Close without saving</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-hide="assignment.timelogs.length">
      <div class="panel-heading">
        No time logging yet
      </div>
    </div>
  </div>
</div>
