<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Projects</li>
  <li class="active">{{ project.name }}</li>
  <li><a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}">Tasks</a></li>
  <li class="active" ng-hide="task.id">New</li>
  <li class="active" ng-show="task.id">{{ task.name }}</li>
</ol>

<%= render :partial => 'templates/task_header' %>

<div class="row">
  <div class="col-xs-7" >
    <div ng-hide="task.editting" ng-bind-html="task.contentHtml | trustAsHtml">
    </div>
    <hr />
    <p>
      <strong>Assignees:</strong>
      <span ng-repeat="assignment in assignments">{{ assignment.user.fullName }}<span ng-hide="$last">, </span></span>
    </p>
  </div>
  <div class="col-xs-4 col-xs-offset-1">
    <%= render :partial => 'templates/timelog' %>
  </div>
</div>
