<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Projects</li>
  <li class="active">{{ project.name }}</li>
  <li><a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}">Tasks</a></li>
  <li class="active" ng-hide="task.id">New</li>
  <li class="active" ng-show="task.id">{{ task.name }}</li>
</ol>

<div class="page-header">
  <h2>Time logs</h2>
</div>

<a href="#" ng-click="createTimelog()">Start task</a>

<div ng-repeat="assignment in assignments">
  {{ assignment.user.fullName }}
  <ul>
    <li ng-repeat="timelog in assignment.timelogs">{{ timelog.startedAt }}</li>
  </ul>
</div>
