<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Projects</li>
  <li class="active">{{ project.name }}</li>
  <li><a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}">Tasks</a></li>
  <li class="active" ng-show="task.id">{{ task.name }}</li>
  <li class="active" ng-show="task.id">Assignment</li>
</ol>

<div class="page-header">
  <h2>Edit assignments</h2>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}" class="btn btn-default">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
