<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Projects</li>
  <li class="active">{{ project.name }}</li>
  <li class="active">Tasks</li>
</ol>

<div class="page-header">
  <h2>
    <span>Tasks of {{ project.name }}</span>
    <a ng-show="<%= policy(Task).create? %>" ng-href="{{ path('ProjectTaskNewCtrl', { projectId: project.id }) }}" class="btn btn-success pull-right">Add new task</a>
  </h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="task in tasks | orderBy: 'name'">
      <td>{{ task.name }}</td>
      <td class="td-control">
        <a ng-href="{{ path('ProjectTaskAssignmentCtrl', { projectId: project.id, taskId: task.id}) }}" ng-show="true" class="btn btn-default btn-xs"><i class="fa fa-user"></i></a>
        <a ng-href="{{ path('ProjectTaskEditCtrl', { projectId: project.id, taskId: task.id }) }}" ng-show="task._updateable" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
        <a href="#" ng-show="task._deleteable" ng-really-click="deleteTask(task)" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>

