<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Projects</li>
  <li class="active">{{ project.name }}</li>
  <li><a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}">Tasks</a></li>
  <li class="active" ng-hide="task.id">New</li>
  <li class="active" ng-show="task.id"><a ng-href="{{ path('ProjectTaskShowCtrl', { projectId: project.id, taskId: task.id }) }}">{{ task.name }}</a></li>
  <li class="active" ng-show="task.id">Edit</li>
</ol>

<div class="page-header">
  <h2>{{task.id ? 'Edit ' : 'Add new'}} task of {{ project.name }}</h2>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <form class="form-horizontal">
      <%= render :partial => 'templates/forms/text', :object => 'name', :locals => {:model => 'task'} %>
      <div class="form-group" ng-show="task.id && assignments.length != memberships.length">
        <label class="col-xs-3 control-label">Assign members</label>
        <div class="col-xs-9">
          <select assignment-dropdown class="form-control" ng-model="assignment" ng-options="membership.user.fullName for membership in memberships | orderBy: 'fullName' | filter: nonAssignees"></select>
        </div>
      </div>
      <div class="form-group" ng-show="task.id">
        <label class="col-xs-3 control-label">Assignees</label>
        <div class="col-xs-9">
          <p class="form-control-static text-muted" ng-hide="assignments.length"><span class="btn btn-default btn-xs"><i class="fa fa-user"></i></span> No assignees yet.</p>
          <div class="form-control-static clearfix user-list">
            <div class="btn btn-default" ng-repeat="assignment in assignments | orderBy: 'user.fullName'">
              {{ assignment.user.fullName }}
              <a href="#" class="text-danger" ng-really-click="deleteAssignment(assignment)"><i class="fa fa-times"></i></a>&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <button ng-click="saveTask()" type="submit" class="btn btn-success">Submit</button>
          <a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}" class="btn btn-default">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
