<ol class="breadcrumb">
  <li class="active">Reports</li>
</ol>
<ul class="nav nav-tabs">
  <li ng-class="{ active: mode == 'started' }">
    <a href="#" ng-click="setMode('started')">Started date</a>
  </li>
  <li ng-class="{ active: mode == 'ended' }">
    <a href="#" ng-click="setMode('ended')">Completed date</a>
  </li>
</ul>

<div class="panel panel-default g-panel-filter">
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-6">
              <div class="row">
                <label class="col-xs-4 control-label">
                  <span ng-show="mode == 'started'">Started within</span>
                  <span ng-show="mode == 'ended'">Completed within</span>
                </label>
                <div class="col-xs-8">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="startedAt" data-toggle="dropdown">
                      <div class="input-group">
                        <input type="text" class="form-control" value="{{ startedAt | amDateFormat: 'MMM D, YYYY' }}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <ul class="dropdown-menu">
                      <datetimepicker on-set-time="setStartedAt" data-ng-model="startedAt" data-datetimepicker-config="{ dropdownSelector: '#startedAt', startView: 'day', minView: 'day' }"/>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <label class="col-xs-2 control-label">To</label>
                <div class="col-xs-8">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="endedAt" data-toggle="dropdown">
                      <div class="input-group">
                        <input type="text" class="form-control" value="{{ endedAt | amDateFormat: 'MMM D, YYYY' }}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <ul class="dropdown-menu">
                      <datetimepicker on-set-time="setEndedAt" data-ng-model="endedAt" data-datetimepicker-config="{ dropdownSelector: '#endedAt', startView: 'day', minView: 'day' }"/>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="row form-horizontal">
          <label class="col-xs-4 control-label">Search Department</label>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-9" style="padding-right: 0;">
                <input class="form-control" ng-model="searchDepartment" type="text" />
              </div>
              <div class="col-xs-3">
                <button class="btn btn-default btn-block" ng-click="searchDepartment = ''">Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row form-horizontal">
          <label class="col-xs-2 control-label">Project</label>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-9" style="padding-right: 0;">
                <input class="form-control" ng-model="searchProject" type="text" />
              </div>
              <div class="col-xs-3">
                <button class="btn btn-default btn-block" ng-click="searchProject = ''">Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="(department, projects) in filterDepartments(departments) | orderBy: 'department' | filter: searchDepartment">
  <div class="page-header">
    <h3>{{ department || '(no department)' }}</h3>
  </div>
  <div ng-repeat="project in projects | filter: searchProject">
    <div>
      <h5>{{ project.name }}</h5>
      <div class="text-muted">
        <small>{{ project.createdAt | amDateFormat: 'MMM D, YYYY' }}</small>
        <small ng-show="project.endedAt"><i class="fa fa-long-arrow-right"></i> {{ project.endedAt | amDateFormat: 'MMM D, YYYY' }}</small>
      </div>
    </div>
  </div>
</div>
