<ol class="breadcrumb">
  <li class="active">Reports</li>
</ol>
<ul class="nav nav-tabs">
  <li ng-class="{ active: mode == 'started' }">
    <a href="#" ng-click="setMode('started')">Started date</a>
  </li>
  <li ng-class="{ active: mode == 'ended' }">
    <a href="#" ng-click="setMode('ended')">Completed date</a>
  </li>
</ul>

<div class="panel panel-default g-panel-filter">
  <div class="panel-body">
    <div class="tab-content">
      <div ng-class="{ active: mode == 'started' }" class="tab-pane">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-6">
              <div class="row">
                <label class="col-xs-4 control-label">Started within</label>
                <div class="col-xs-8">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="startedAtStart" data-toggle="dropdown">
                      <div class="input-group">
                        <input type="text" class="form-control" value="{{ startedAtStart | amDateFormat: 'MMM D, YYYY' }}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <ul class="dropdown-menu">
                      <datetimepicker on-set-time="setStartedAtStart" data-ng-model="startedAtStart" data-datetimepicker-config="{ dropdownSelector: '#startedAtStart', startView: 'day', minView: 'day' }"/>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <label class="col-xs-1 control-label">To</label>
                <div class="col-xs-9">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="startedAtEnd" data-toggle="dropdown">
                      <div class="input-group">
                        <input type="text" class="form-control" value="{{ startedAtEnd | amDateFormat: 'MMM D, YYYY' }}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <ul class="dropdown-menu">
                      <datetimepicker on-set-time="setStartedAtEnd" data-ng-model="startedAtEnd" data-datetimepicker-config="{ dropdownSelector: '#startedAtEnd', startView: 'day', minView: 'day' }"/>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{ active: mode == 'ended' }" class="tab-pane">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-6">
              <div class="row">
                <label class="col-xs-4 control-label">Completed within</label>
                <div class="col-xs-8">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="endedAtStart" data-toggle="dropdown">
                      <div class="input-group">
                        <input type="text" class="form-control" value="{{ endedAtStart | amDateFormat: 'MMM D, YYYY' }}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <ul class="dropdown-menu">
                      <datetimepicker on-set-time="setEndedAtStart" data-ng-model="endedAtStart" data-datetimepicker-config="{ dropdownSelector: '#endedAtStart', startView: 'day', minView: 'day' }"/>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <label class="col-xs-1 control-label">To</label>
                <div class="col-xs-9">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="endedAtEnd" data-toggle="dropdown">
                      <div class="input-group">
                        <input type="text" class="form-control" value="{{ endedAtEnd | amDateFormat: 'MMM D, YYYY' }}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <ul class="dropdown-menu">
                      <datetimepicker on-set-time="setEndedAtEnd" data-ng-model="endedAtEnd" data-datetimepicker-config="{ dropdownSelector: '#endedAtEnd', startView: 'day', minView: 'day' }"/>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" ng-show="false">
      <a class="btn btn-default" href="#">Today</a>
      <a class="btn btn-default" href="#">This week</a>
      <a class="btn btn-default" href="#">This month</a>
    </div>
  </div>
</div>

<div ng-repeat="(department, projects) in departments">
  <div class="page-header">
    <h3>{{ department || 'Other' }}</h3>
  </div>
  <div ng-repeat="project in projects">
    <div>
      <h5>{{ project.name }}</h5>
      <div class="text-muted">
        <small>{{ project.createdAt | amDateFormat: 'MMM D, YYYY' }}</small>
        <small ng-show="project.endedAt"><i class="fa fa-long-arrow-right"></i> {{ project.endedAt | amDateFormat: 'MMM D, YYYY' }}</small>
      </div>
    </div>
  </div>
</div>
