<ol class="breadcrumb">
  <li class="active">Dashboard</li>
</ol>

<div class="page-header">
  <h2>
    <span>Projects</span>
    <a ng-show="<%= policy(Project).create? %>" ng-href="{{ path('ProjectNewCtrl') }}" class="btn btn-success pull-right">Add new project</a>
  </h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Requester</th>
      <th>Requester Dept.</th>
      <th>Status</th>
      <th>Completed</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in projects | orderBy: 'name'">
      <td><a ng-href="{{ path('ProjectTaskIndexCtrl', { projectId: project.id }) }}">{{ project.name }}</a></td>
      <td>{{ project.owner.fullName }}</td>
      <td>{{ project.requesterName }}</td>
      <td>{{ project.requesterDepartment }}</td>
      <td>{{ project.statusText }}</td>
      <td>{{ project.endedAt | amDateFormat: 'MMM D, YYYY' }}</td>
      <td class="td-control">
        <a ng-href="{{ path('ProjectEditCtrl', { projectId: project.id }) }}" ng-show="project._updateable" class="btn btn-default btn-xs"><i class="fa fa-user"></i> <i class="fa fa-pencil"></i></a>
        <a href="#" ng-show="project._deleteable" ng-really-click="deleteProject(project)" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2>
    <span>Users</span>
    <a ng-show="<%= policy(User).create? %>" ng-href="{{ path('UserNewCtrl') }}" class="btn btn-success pull-right">Add new user</a>
  </h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Employee No.</th>
      <th>Position</th>
      <th>Department</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy: 'fullName'">
      <td>{{user.fullName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.employeeNumber}}</td>
      <td>{{user.position}}</td>
      <td>{{user.department}}</td>
      <td class="td-control">
        <a ng-href="{{ path('UserEditCtrl', { userId: user.id }) }}" ng-show="user._updateable" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
        <a href="#" ng-show="user._deleteable" ng-really-click="deleteUser(user)" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>
