<div class="page-header">
  <h2>Users</h2>
</div>

<% if policy(User).create? %>
  <div class="row">
    <div class="col-xs-12">
      <a href="users/new" class="btn btn-success pull-right">Add new user</a>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Employee Number</th>
      <th>Position</th>
      <th>Department</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.fullName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.employeeNumber}}</td>
      <td>{{user.position}}</td>
      <td>{{user._deletable}}</td>
      <td>
        <%# TODO: Prevent at backend too %>
        <a href="#" ng-show="user._deletable" ng-really-click="deleteUser(user)" class="btn btn-danger btn-xs" >Delete</a>
      </td>
    </tr>
  </tbody>
</table>

