development:
  adapter: postgresql
  encoding: unicode
  database: gemproject_development
  pool: 5
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database: gemproject_test
  pool: 5
  host: localhost
  port: 5432
