/*
 *= require bootstrap
 *= require bootstrap-patch
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

body {
  background-color: #f8f8f8;
}

nav.navbar {
  margin-bottom: 0;
}

div.bg {
  background-color: #fff;
  padding: 20px 0 40px;
}

td.td-control {
  width: 15%;
}

div.user-list {
  padding-top: 0 !important;

  > div.btn {
    margin-top: 7px;
    margin-right: 3px;
    cursor: default;
  }
}

footer {
  text-align: center;
  padding: 30px 0 50px;
  border-top: 1px solid #e7e7e7;

  p.mixpanel {
      padding-top: 20px;
  }
}
